.product-main{margin-bottom: 30px;}
.product-image{width:100%; overflow:hidden; border-radius: 20px;
    img{max-width: 100%;}
}
.product-name, .product-desc{text-align: center;}
.product-price{font-size:2em;}
// div{border:1px solid red;}