<div class="product-filter">
    <div class="dropdown" drop-down>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Size:{{selectedSize}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
        </div>
    </div>
    &nbsp;
    <div class="dropdown" drop-down>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Color:{{selectedSize}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
        </div>
    </div>

</div>