<div class="row main">
  <span *ngIf="!showMenu" class="toggleLink" (click)="toggleMenu()" [@showMenu]><i class="fa fa-bars"
      aria-hidden="true"></i></span>
  <div class="col-sm-12 p-0" [@categorySlide]="showMenu ? 'open' : 'closed'">

    <div class="category-wrap">
      <span class="closeMenu" (click)="toggleMenu()"><i class="fa fa-times" aria-hidden="true"></i></span>
      <app-product-category></app-product-category>
    </div>

    <div class="list-wrap">
      <div class="col-sm-12">
        <app-product-filter></app-product-filter>
        <br />
        <app-listing></app-listing>
      </div>
    </div>
  </div>
</div>