body{background:#000; color:#fff;
   font-family: 'Alfa Slab One', cursive;}
a{cursor: pointer; text-decoration: none;}
a:hover{text-decoration: none;}
ul {
    margin:0; 
    padding:0;
    li{
       list-style-type: none;
       padding: 0;
       margin: 10px 0;
       float: left;
       width:100%;
    }
 }

 .fa{font-size:2rem}